@font-face {
    font-family: 'Cormorant';
    src: url(/projects/fashion/src/assets/fonts/Cormorant/Cormorant-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url(/projects/fashion/src/assets/fonts/Raleway/Raleway-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
