@font-face {
    font-family: 'Caveat';
    src: url(../assets/fonts/Caveat/Caveat-Regular.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Caveat-Bold';
    src: url(../assets/fonts/Caveat/Caveat-Bold.ttf) format('opentype');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat-Semi-Bold';
    src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('opentype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf) format('opentype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'AbhayaLibre';
    src: url(../assets/fonts/AbhayaLibre/AbhayaLibre-Regular.ttf) format('opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'AbhayaLibre-Bold';
    src: url(../assets/fonts/AbhayaLibre/AbhayaLibre-Bold.ttf) format('opentype');
    font-style: normal;
    font-weight: bold;
}