* {
    box-sizing: border-box;
}
.header {
    background: url(../assets/img/bg-header.png) no-repeat;
}
.yoga-ways-block {
    background: url(../assets/img/bg-2.png) no-repeat;
}
.subscriptions {
    background: url(../assets/img/bg-3.png) no-repeat;
}
.team {
    background: url(../assets/img/bg-4.png) no-repeat;
}
.company-trial {
    background: url(../assets/img/bg-footer.png) no-repeat;
}