
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h2 {
  font-family: 'Banny Round';
  font-size: 36px;
}
h3 {
  font-size: 12px;
}
h4 {
  color: rgba(255, 255, 255, 0.9);
}
p {
  color: rgba(255, 255, 255, 0.5);
}

.container {
  width: 90%;
  margin: 0 auto;
}
.header_buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}
.header_button {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  display: block;
  padding-top: 20px;
}
.header_button_booking {
  background-color: #E8C300;
  margin-right: 40px;
}
.header_button_explore {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.header_down_button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_down_button .fas {
  color: black;
}
header {
  background: url(../img/header-bg.png) no-repeat;
  background-size:cover;
  color: white;
  padding-top: 30px;
  padding-bottom: 83px;
}
header a {
  color: white;
}




.header_list_nav {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-family: 'Banny Round';
  font-size: 96px;
  text-align: center;
}
h1::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
  margin: 30px auto 0 auto;
  display: block;
}
h2::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  border-radius: 50px;
  margin: 10px auto 0 auto;
  display: block;
}
.header_title p {
  margin: 0 auto -30px auto;
}
.main_logo {
  display: none;
}
.hamburger_menu {
  display:none;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 5%;
  right: 5%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right:-100%;
  width: 180px;
  height:80%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__box li a {
  color: white;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
.header_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}
.header_title {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header_title p {
  letter-spacing: 0.5em;
  color: #FFFFFF;
}
.header_leftside {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
.social_buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about_us {
  padding: 100px 0 100px 0;
}
.about_us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about_us_text {
  text-align: center;
}
.about_us_text h4, .about_us_text p {
  color: #000000;
}
.team_section {
  background: url(../img/bg-2.png) no-repeat;
  background-size:cover;
  color: #FFFFFF;
  padding: 50px 0 100px 0;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;

}
h3 {
  text-align: center;
  letter-spacing: 0.5em;
}
.team_text, .slideText {
  text-align: center;
}

.booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.booking_form_title h2 {
  text-align: center;
}
.booking_form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  width: 46%;
  background: #E5E5E5;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 0 20px 10px;
  outline: none;
}
.booking_button {
  background: #E8C300;
  border: none;
  border-radius: 5px;
  display: block;
  width: 96%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  color: #FFFFFF;
  font-weight: bold;
}
.date {
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.specialities_section {
  background: url(../img/bg-3.png) no-repeat;
  background-size:cover;
  padding: 50px 0px 50px 0px;
}
.specialities_image img {
  border-radius: 5px;
}
.slideText h2 {
  color: #FFFFFF;
}
.specialities_section h3 {
  color: #FFFFFF;
}
/* Собственно сам слайдер */
.slider{
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 600px;
  margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
/*.slider .item img {
    object-fit: cover;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}*/
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  width: 45%;
  /* Выравнивание текста по горизонтали и по вертикали*/
  right: 5%;
  top: 20%;
}
/* Кружочки */
.slider-dots {
  text-align: center;
}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
  background-color: #aaa;
}
/* Анимация слайдов */
.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
.menu_section {
  padding: 80px 0 80px 0;
}
.menu h4 {
  color: #000000;
}
.menu h2, .menu h4 {
  text-align: center;
}
.sub_menu {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  margin-top: 50px;
  flex-wrap: wrap;
}
.sub_menu li {
  padding: 20px;
}
.sub_menu li:not(:last-child) {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
}
.group_menu {
  font-family: 'Banny Round';
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.group_menu ul {
  flex-basis: 33%;
}
.group_menu li {
  margin-bottom: 20px;
}
.menu_title {
  color: #333333;
  font-size: 16px;
}
.menu_description {
  color: #E5E5E5;
  font-size: 14px;
}
.main_events {
  background: url(../img/bg-4.png) no-repeat;
  background-size:cover;
  padding: 50px 0 50px 0;
}
.events h3 {
  color: white;
}
.events_images {
  display:flex;
  justify-content: space-around;
  margin: 50px 0 50px 0;
}
.rectangle {
  border-radius: 5px;
}
.events_image-1, .events_image-2 {
  display: flex;
  align-items: center;

}
.vertical_text {
  background-color: #000000;
  padding: 20px 25px 0px 25px;
  text-orientation: mixed;
  height: 475px;
  border-radius: 5px;
  font-size: 24px;
  color: #FFFFFF;
  font-family: 'Banny Round';
}
.vertical_text-1 {
  text-align: left;
  writing-mode: vertical-lr;
}
.vertical_text-2 {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  text-align: left;
}
.events p {
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery img {
  width: 25%;
}
.contact {
  padding: 100px 0 100px 0;
}
.contact h2, .contact h4 {
  color: black;
  text-align: center;

}
.contact_form {
  margin-top: 40px;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form input {
  width: 33%;
}
.contact_button {
  background: #E8C300;
  border: none;
  border-radius: 5px;
  padding: 20px 0 20px 0;
  color: #FFFFFF;
  font-weight: bold;
  width: 49%;
}
.form p {
  width: 49%;
}
.form .fas {
  color:#E8C300;
  margin-right: 10px;
}
.form .fas span {
  padding-left: 10px;
  width: 49%;
  font-weight: bold;
  color: #9F9F9F;
  font-size: 14px;
}
.textarea {
  border:none;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #E5E5E5;
  outline: none;
  padding: 20px 0 20px 10px;

}
.map {
  width: 100%;
  height: 475px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.copyright {
  background-color:rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

@media screen and (min-width: 1225px) and (max-width: 1440px) {
  .item img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .image {
    width: 500px;
    height: 500px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1224px) {


  .slider {
    height: 500px;
  }
  .specialities_image  {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .item img {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 100px;
    left: 50px;
  }
  .image {
    width: 400px;
    height: 400px;
  }

}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 80px;
  }
  .header_nav {
    display: none;
  }
  .header_list_nav {
    display: none;
  }
  .header_button_booking {
    margin:0 0 20px 0;
  }
  .hamburger_menu {
    display: block;
  }
  .main_logo {
    display: block;
    position: fixed;
    top: 5%;
    left: 5%;
  }
  .main_logo img {
    width: 150px;
    height: 150px;
  }
  .events_image-1 img, .events_image-2 img {
    width: 400px;
    height: 400px;
  }
  .events_image-1, .events_image-2 {
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .events_image-2 {
    margin-top:30px;
  }
  .vertical_text {
    writing-mode:lr-tb;
    width: 400px;
    text-align: center;
    height: auto;
  }
  .vertical_text-2 {
    transform:none;
    order:2;
  }
  .gallery img {
    width: 25%;
    height: 25%;

  }
  .group_menu ul {
    flex-basis:33%;
  }
  .slider {
    height:800px;
  }
  .slideText {
    width:100%;
    position:sticky;
  }
  .about_us .container, .item, .team, .booking, .events_images, .header_buttons {
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .image {
    width: 350px;
    height: 350px;
  }
  .specialities_image img {
    width: 350px;
    height: 350px;
  }
  .specialities_image {
    display: flex;
    justify-content: center;
  }
  .header_middle p {
    font-size: 16px;
  }
  .contact_button {
    width:100%;
  }
  .form p {
    width:100%;
  }
  .item img {
    position:sticky;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 50px;
  }
  .header_nav {
    display: none;
  }
  .header_list_nav {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  .main_logo {
    display: block;
    position: fixed;

    top: 5%;
    left: 5%;
  }
  .main_logo img {
    width: 125px;
    height: 125px;
  }
  .header_button_booking {
    margin: 0 0 20px 0;
  }
  .events_image-1 img, .events_image-2 img {
    width: 300px;
    height: 300px;
  }
  .events_image-1, .events_image-2 {
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .events_image-2 {
    margin-top:30px;
  }
  .vertical_text {
    writing-mode:lr-tb;
    width: 300px;
    text-align: center;
    height: auto;
  }
  .vertical_text-2 {
    transform:none;
    order:2;
  }
  .gallery img{
    width: 25%;
    height: 25%;

  }
  .group_menu ul{
    flex-basis:40%;
  }

  .slider {
    height:800px;
  }
  .slideText {
    width:100%;
    position:sticky;
  }
  .group_menu ul {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  .about_us .container, .item, .team, .booking, .events_images, .header_buttons  {
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .image {
    width: 300px;
    height: 300px;
  }
  .specialities_image img {
    width: 300px;
    height: 300px;
  }
  .specialities_image {
    display: flex;
    justify-content: center;
  }
  .header_middle p {
    font-size: 12px;
  }
  .header_button {
    width:150px;
  }
  h2 {
    font-size: 30px;
  }
  .gallery {
    flex-wrap:wrap;
  }
  .gallery img {
    width:50%;
  }
  .contact_button {
    width:100%;
  }
  .form p {
    width:100%;
  }
  .group_menu ul:last-child{
    display: none;
  }
  .item img {
    position:sticky;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
  .header_nav {
    display: none;
  }
  .header_list_nav {
    display: none;
  }
  .hamburger_menu {
    display: block;
  }
  .main_logo {
    display: block;
    position: fixed;
    top: 3%;
    left: 5%;
  }
  .main_logo img {
    width: 100px;
    height: 100px;
  }
  .header_button_booking {
    margin: 0 0 20px 0;
  }
  .events_image-1 img, .events_image-2 img {
    width: 200px;
    height: 200px;
  }
  .events_image-1, .events_image-2 {
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .events_image-2 {
    margin-top:30px;
  }
  .vertical_text {
    writing-mode:lr-tb;
    width: 200px;
    text-align: center;
    height: auto;
  }
  .vertical_text-2 {
    transform:none;
    order:2;
  }
  .gallery img {
    width: 25%;
    height: 25%;
  }
  .group_menu ul:last-child{
    display: none;
  }
  .slider {
    height:580px;
  }
  .slideText {
    width:100%;
    position:sticky;
  }

  .group_menu ul {
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
  }

  .about_us .container, .item, .team, .booking, .events_images, .header_buttons  {
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .image {
    width: 200px;
    height: 200px;
  }
  .specialities_image {
    display: flex;
    justify-content: center;

  }
  .specialities_image img {
    width: 200px;
    height: 200px;
  }
  .header_middle p {
    font-size: 10px;
  }
  .header_button {
    width:120px;
    font-size: 14px;
  }
  .social_button {
    width: 50px;
    height: 50px;
  }
  h2 {
    font-size: 26px;
  }
  .gallery {
    flex-wrap:wrap;
  }
  .gallery img {
    width:50%;
  }
  .contact_button {
    width:100%;
  }
  .form p {
    width:100%;
  }
  .item img {
    position:sticky;
  }
}
@import 'fonts';