@media (min-width: 768px) {
    .container {
        padding: 0 5rem;
        max-width: 100%;
    }

    .fix-page {
        display: block;
        position: fixed;
        width: 13.5rem;
        height: 3.5rem;
        z-index: 2;
        color: #fff;
        text-align: center;
        padding: 0.5rem 0.75rem;
        line-height: 1.375;
        text-transform: uppercase;
        background-color: #4290fc;
        border-radius: 3px 0 0 3px;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }

    .people-on-site {
        left: 0;
    }

    .free-place {
        right: 0;
    }   

    .heading {
        margin-bottom: 4rem;
        h1 {
            font-size: 3rem;
            line-height: 1.075;
            margin-bottom: 0.75rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }
    
    .about {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .video-block {
        width: 66%;
    }
    
    .form-block {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        background-color: #fff;
        width: 33.33%;
        margin-left: 1.5rem;
        overflow: hidden;
    }

    .content {
        .container {
           .advantages {
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
               article {
                   padding: 2rem;
                   h2 {
                        font-size: 2.25rem;
                        margin-bottom: 2rem;
                    }
               }
               &__left {
                   width: 40%;
                   margin-left: 0;
               }
               &__right {
                    width: 60%;
                    padding-left: 2rem;
               }

               &__descr {
                   padding-left: 0.75rem;
                   font-size: 1.125rem;
               }

               &-list {
                   li {
                        padding-right: 1rem;
                    }
               }
           }
           
           .founder-block {
               flex-direction: row;
               justify-content: space-between;
               .founder-about {
                   width: 40%;
                   padding-top: 4.5rem;

                    article {
                        h4 {
                            margin-bottom: 2.5rem;
                        }
                        p {
                            font-size: 1.125rem;
                        }
                   }
               }

               .founder-photo {
                    width: 60%;
                    margin: -6rem 0 0 -0.25rem;
                    padding-left: 2rem;
                    img {
                        margin-top: 0;
                    }
               }
           }

        }
    }

    .projects {
        width: 100%;
        &__main-title {
            font-size: 2.25rem;
        }
        article {
            height: 560px;
            width: 33.33%;
        }

        &__about {
            padding: 2rem;
        }

        &-list {
            flex-direction: row;
        }

        &__img {
            height: 100%;
            img {
                height: 100%;
            }
        }

        &__title {
            font-size: 2.25rem;
        }

        &__benefits {
            font-size: 1.5rem;
        }

        &__descr {
            font-size: 1.125rem;
        }
    }

    .partners {
        .container {
            padding: 0 5rem;

            .partners-block-1, .partners-block-2 {
                justify-content: space-around;
            }
            .partner-1, .partner-2, .partner-3, .partner-4, .partner-5, .partner-6, .partner-7 {
                width: 8.33%;
            }
            .partner-8, .partner-9, .partner-10, .partner-11, .partner-12 {
                width: 16.66%;
            }
        }
    }
}
