*
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    color: white
.container
    width: 95%
    margin: 0 auto
.background-1
    background-image: url(../img/back-1.png)
.background-2
    background-image: url(../img/back-2.png)
.background-3
    background-image: url(../img/back-3.png)
a
    color: white
    text-decoration: none
.button
    border: none
    background-color: transparent
    outline: none
    color: white
    font-weight: bold
    cursor: pointer
    &_transp
        background-color: rgba(205,205,205, 0.4)
        border: 2px solid white
header
    padding-top: 10px
    .header-top
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        z-index: 7
        &-block
            display: flex
            align-items: center
        &-links
            display: flex
            a
                text-decoration: none
                color: white
                font-weight: bold
                font-size: 16px
                margin-left: 30px
        &-buttons
            display: flex
            align-items: center
            justify-content: space-between
            flex-basis: 22%   
            &__button
                background-color: rgba(205,205,205, 0.5)
                font-size: 14px
                color: white
                height: 30px
            .search__button
                border-radius: 50%
                width: 30px  
                font-size: 16px
            .enter__button
                border-radius: 20px
                padding: 5px
                width: 90px
                i
                    margin-right: 5px
                    font-size: 16px
            .basket__button
                border-radius: 20px
                width: 120px
                i
                    margin-right: 5px
                    font-size: 16px
        &__schedule
            color: white
            position: absolute
            top: 60px
            right: 0px
            text-align: right
            p:first-child
                font-size: 14px
                margin-bottom: 10px
            p:last-child
                font-size: 22px
                margin-top: 0
main
    margin-top: 30px
.catalog-links
    display: flex
    a
        margin-right: 20px

    
.catalog-block
    width: 70%
    .catalog__title
        h1
            font-size: 35px
            line-height: 41px
    .catalog-filters
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        .catalog__sorting
            width: 24%
            .catalog__select
                
                select
                    width: 100%
                    border-radius: 20px
                    background-color: rgba(205,205,205, 0.4)
                    border: none
                    padding: 0 10px
                    outline: none
        .catalog__price
            width: 25%
            .catalog__range
                background-color: rgba(205,205,205, 0.4)
                border-radius: 20px
                
                display: flex
                justify-content: center
                input
                    width: 175px
        .catalog-fatFilters-block
            width: 48%
        .catalog-fatFilters
            display: flex
            justify-content: space-between
            background-color: rgba(205,205,205, 0.4)
            border-radius: 20px
            
            padding: 0 20px
            .catalog__fatFilter
                display: flex
                justify-content: space-between
                align-items: center
                input
                    margin-left: 15px
                    margin-right: 10px
            .catalog__fatFilter:first-child
                input
                    margin-left: 0 

        input, select  
            height: 40px
        p
            font-size: 14px
            margin-left: 15px
        label
            font-size: 16px
        .button
            border-radius: 20px
            width: 17%
            height: 40px
            align-self: flex-end
            background-color: rgba(205,205,205, 0.4)
        .catalog-fillers-block
            width: 81%
        .catalog-fillers
            display: flex
            justify-content: space-between
            background-color: rgba(205,205,205, 0.4)
            border-radius: 20px

            padding: 0 20px
            .catalog-filler
                display: flex
                justify-content: space-between
                align-items: center
                input
                    margin-left: 15px
                    margin-right: 10px
            .catalog-filler:first-child
                input
                    margin-left: 0
.products
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding-top: 40px
    color: white
    .product
        flex-basis: 23%
        position: relative
        margin-bottom: 20px
        &__image
            position: relative
            width: 100%
            img 
                width: 100%
        &__image:before 
            content: ""
            background: url(../img/hit.png) no-repeat
            position: absolute
            left: 10%
            width: 60px
            height: 60px
        &__price
            position: absolute
            bottom: 8%
        &__cost
            font-size: 45px
            font-weight: bold
            letter-spacing: 2px
        &__weight
            font-size: 30px
            font-weight: bold
        &__descr
            font-size: 16px
            text-align: center
.products-pages
    display: flex
    justify-content: flex-end
.hr
    width: 95%
    height: 2px
    background-color: rgba(255, 255, 255, 0.4)
    margin: 0 auto
    margin-top: 30px
.footer
    padding: 30px 0
    .footer-wrapper
        display: flex
        justify-content: space-between
        align-items: center
    
    &-social
        display: flex
        justify-content: space-between
        align-items: center
        width: 18%
        &-wrapper
            background-color: #e6ebe9
            width: 40px
            height: 40px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            border: 3px solid #c2cec7
            a
                text-decoration: none
                color: #879f92
                font-size: 20px
    &-links
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        flex-basis: 26%
        text-align: left
       
        a
            font-size: 13px
            line-height: 18px
            color: white
            display: flex
            justify-content: space-between
            align-items: center
            
    &-copyright
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        img
            margin-bottom: 10px
        span
            font-size: 12px
            color: white
@import 'mediaCatalog'