*
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
.container
    width: 89%
    margin: 0 auto
.background-1
    background-image: url(../img/back-1.png)
.background-2
    background-image: url(../img/back-2.png)
.background-3
    background-image: url(../img/back-3.png)
.button
    border: none
    background-color: none
    outline: none
    color: white
    font-weight: bold
    &_red
        background-image: linear-gradient(to bottom, #f16743, #e74b36)
header
    .header-top
        display: flex
        justify-content: space-between
        align-items: flex-start
        &-block
            display: flex
            align-items: center
        &-links
            display: flex
            a
                text-decoration: none
                color: white
                font-weight: bold
                font-size: 16px
        &-nav
            display: flex
            flex-direction: column
            
            &-buttons
            &__button
                border: none
                background-color: transparent
                font-size: 14px
                color: white
            &__schedule
                color: white
                p:first-child
                    font-size: 14px
                p:last-child
                    font-size: 22px
    .slider
        padding-bottom: 40px
        .slide
            display: none
            width: 56%
            margin: 0 auto
            text-align: center
        .active
            display: block
            h2
                font-size: 60px
                font-weight: bold
                color: white
            .slide__button
                width: 280px
                height: 65px
                font-size: 32px
                border-radius: 30px
               
main    
    .promotions
        display: flex
        justify-content: space-between
        .promotion:first-child
            background: url(../img/raspberry-back.png) no-repeat
            border-radius: 20px
        .promotion:last-child
            background: url(../img/choco-back.png) no-repeat
            border-radius: 20px
        .promotion
            display: flex
            flex-direction: column
            min-height: 230px
            flex-basis: 45%
            padding: 20px 20px 0px 20px
            
            h3
                font-size: 35px
                color: white
                line-height: 41px
                margin: 0
            p
                
                font-size: 18px
                line-height: 22px
                color: white
                font-weight: bold
            &__button
                width: 160px
                height: 50px
                border-radius: 30px
                x
                align-self: flex-end
    .products
        display: flex
        justify-content: space-between
        padding-top: 40px
        color: white
        .product
            flex-basis: 20%
            position: relative
            &__image
                position: relative
            &__image:before 
                content: ""
                background: url(../img/hit.png) no-repeat
                position: absolute
                width: 60px
                height: 60px
            &__price
                position: absolute
                bottom: 28%
            &__cost
                font-size: 45px
                font-weight: bold
                letter-spacing: 2px
            &__weight
                font-size: 30px
                font-weight: bold
            &__descr
                font-size: 18px
                text-align: center
    .about-us
        background: url(../img/waffles-back.png) no-repeat
        padding: 20px
        min-height: 310px
        margin-top: 30px
        &__title
            font-size: 24px
            margin-bottom: 10px
            padding-right: 40px
            font-weight: bold
        &-advantages
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        &__advantage
            flex-basis: 48%
            font-size: 16px
            line-height: 22px
            display: flex
        .advantage__descr
            margin-left: 10px
    .blog-email-block
        display: flex
        justify-content: space-between
        
        .blog 
            flex-basis: 49%
            
            border-radius: 20px
        .blog
            background-image: url(../img/strawberry-back.png)
            background-repeat: no-repeat
            background-position: center center
            display: flex
            flex-direction: column
            padding: 10px 20px 0px 20px
            min-height: 220px

            &__title
                font-size: 16px
                margin-bottom: 10px
            &__news
                font-size: 24px
                text-align: 30px
                font-weight: bold
                text-decoration: underline
                margin-top: 0
                width: 60%
      
        .email-wrapper 
            flex-basis: 49%
            display: flex
            justify-content: center
            align-items: center
            padding-right: 11px
            min-height: 220px
            background: url(../img/email-border.png) no-repeat
            border-radius: 20px 
            .email 
                min-height: 210px
                width: 97%
                position: relative
                padding: 15px 10px 20px 20px
                border-radius: 20px
                background: url(../img/email-back.png) no-repeat
                p
                    font-size: 16px
                    color: #5a5a5a
                    line-height: 22px
                    margin-bottom: 30px
                input 
                    width: 70%
                    height: 45px
                    border: 1px solid #5a5a5a
                    padding-left: 10px
                &__button
                    height: 45px
                    width: 130px
                    border-radius: 20px
                    font-size: 18px
                    font-weight: bold
                    margin-left: 10px
.footer
    &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &-documents
        display: flex
        flex-wrap: wrap
        flex-basis: 30%
        
        a
            font-size: 13px
            color: white
            text-decoration: none


        
            



            
